<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                    src="https://as2.ftcdn.net/v2/jpg/02/03/68/69/1000_F_203686995_sxKXAdqjF43ZF4mbMcDxk7mUNlCrVb2D.jpg"
                    data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <strong style="display: flex; align-content: center;padding-left: 50%;">User Information</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Identificacion
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.id}}
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-view  text-primary"></span>
                                        FirstName
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.firstName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                        Lastname
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.lastName}}
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                        Contact
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.contact}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                        Gender
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.gender}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Age
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.age}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Email Address
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewData.emailAdderss}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>