

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #1B1B2F;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right, 
      rgba(16, 35, 77, 0.5), 
      rgba(73, 155, 234, 0.5)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right, 
      rgba(16, 35, 77, 0.5), 
      rgba(73, 155, 234, 0.5)
    );
  }
  
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #1B1B2F;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right, 
      rgba(16, 35, 77, 1), 
      rgba(73, 155, 234, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right, 
      rgba(16, 35, 77, 1), 
      rgba(73, 155, 234, 1)
    );
  }